{% include '/Partials/top.html' %}
{% include '/Partials/menu.html' %}

<table>
<h1> Bilar </h1>
  <th> Regskylt </th>
  <th> Tillverkare </th>
  <th> Färg </th>
  <th> År </th>
  <th> Pris </th>
  <th> Uthyrd av </th>
  <th> Uthyrd från </th>

  {%  for value in carArray %}
  <tr>
        <td> {{ value.Registration }}</td>
        <td> {{ value.Make }}</td>
        <td> {{ value.Color }}</td>
        <td> {{ value.Year }} </td>
        <td> {{ value.Price }}</td>
        <td> {{ value['Rented by'] }}</td>
        <td> {{ value['Rented from'] }}</td>
      
        {% if value['Rented by'] != 'Free' %}
         <td><form method="post" action="/CarEdit/{{ value.Registration }}/{{ value.Make }}/{{ value.Color }}">
        <input type="hidden" value="{{ value.Registration }}">
        <input type="submit" value="Editera" disabled>
        </form></td>
        <td> <form method="post" action="/CarRemove/{{ value.Registration }}">
        <input type="submit" value="Ta bort" name="Registration" disabled>
        {% else %}
             <td><form method="post" action="/CarEdit/{{ value.Registration }}/{{ value.Make }}/{{ value.Color }}">
        <input type="hidden" value="{{ value.Registration }}">
        <input type="submit" value="Editera">
        </form></td>
            <td> <form method="post" action="/CarRemove/{{ value.Registration }}" {#/{{ value['Rented by'] }} #}
            onsubmit="confirmRemoveCar();">
        <input type="submit" value="Ta bort" name="Registration">
        {% endif %}
        </form></td>
  </tr>
  {%  endfor %}

  </table>

  <br>
        <form method="post" action="/CarAdd">
        <input type="submit" value="Lägg till bil">
      </form>

<script>
function confirmRemoveCar() {
    let answer = confirm('Ta bort bilen från bilregistret?');
    if (answer) {
        alert("Bilen borttagen från registret.");
        return true;
    } else {
        alert("Borttagning av bilen avbruten");
        return false;
    }
}    
</script>
{% include '/Partials/bottom.html' %}