{% include '/Partials/top.html' %}
{% include '/Partials/menu.html' %}

<h1> Checka ut bil <h2>
<form method="post" name="CheckOut" action="/CheckOut"
onsubmit="return confirmCheckOut();">


  <label for="pr"> Kund: </label>
  <select id="pr" name="pr" required> 

    {% for value in getPr %}
    <option value="{{ value["Personal number"] }}">
     {{ value["Personal number"] }} </option>
    {% endfor %} 

    </select>
  <br>
    <label for="reg"> Bil: </label>
    <select id="reg" name="reg" required> 

    {% for value in getReg %}
    <option value="{{ value.Registration }}">
    {{ value.Registration }} {{ value.Color }} {{ value.Make }} </option>
    {% endfor %} 

    </select>
    <br>
    <input type="submit" value="Checka ut">
    </form>

<script>
    function confirmCheckOut() {
        let answer = confirm("Är du säker på att du vill checka ut bilen?");
        if (answer) {
            alert("Du har checkat ut bilen.");
            return true;
        } else {
            alert("Utcheckning avbruten.");
            return false;
        }
    }
  
</script>
{% include '/Partials/bottom.html' %}