{% include '/Partials/top.html' %}
{% include '/Partials/menu.html' %}

<table>
<h1> Historik </h1>
  <th> Regskylt </th>
  <th> Personnummer </th>
  <th> Uthyrd från </th>
  <th> Uthyrd till </th>
  <th> Dagar </th>
  <th> Kostnad </th>

{% set totalCost = 0 %}
  {%  for value in historyPrice %}
  <tr>
        <td> {{ value.Registration }}</td>
        <td> {{ value["Personal number"] }}</td>
        <td> {{ value["Rented from"] }}</td>
        <td> {{ value["Rented until"] }} </td>
        <td style="text-align: center;"> {{ value.Days }} </td> 
        <td style="text-align: right;"> {{ value.Cost }} </td>
  </tr>

  {% set totalCost = totalCost + value.Cost %}
  {%  endfor %}
  <tr> 
      <td id="sum-title" colspan="5"> Summa </td> 
      <td id="sum-cost"> {{ totalCost }}  </td> 
  </tr>
</table>

{% include '/Partials/bottom.html' %}

