{% include '/Partials/top.html' %}
{% include '/Partials/menu.html' %}

<table>
<h1> Kunder </h1>
  <th> Personnummer </th>
  <th> Namn </th>
  <th> Address </th>
  <th> Postaddress </th>
  <th> Telefonnummer </th>

  {%  for value in personArray %}
  <tr>
        <td> {{ value['Personal number'] }}</td>
        <td> {{ value['Full name'] }}</td>
        <td> {{ value.Address }}</td>
        <td> {{ value['Postal address'] }} </td>
        <td> {{ value['Phone number'] }}</td>
        <td><form method="post" action="/UserEdit/{{ value['Personal number'] }}/{{ value['Full name'] }}/{{ value.Address }}/{{ value['Phone number'] }}/{{ value['Postal address'] }}">
        <input type="submit" value="Edit">
        </form> </td>
  </tr>
  {%  endfor %}

  </table>
  <br>
        <form method="post" action="/UserAdd">
        <input type="submit" value="Add Customer">
      </form>
{% include '/Partials/bottom.html' %}