{% include '/Partials/top.html' %}
{% include '/Partials/menu.html' %}

<table>
<h1> Kunder </h1>
  <th> Personnummer </th>
  <th> Namn </th>
  <th> Address </th>
  <th> Postaddress </th>
  <th> Telefonnummer </th>

  {% for value in personArray %}
  <tr>
        <td> {{ value['Personal number'] }}</td>
        <td> {{ value['Full name'] }}</td>
        <td> {{ value.Address }}</td>
        <td> {{ value['Postal address'] }} </td>
        <td> {{ value['Phone number'] }}</td>
        
        {% if value['Cars'] != NULL %}
      <td><form method="post" action="/UserEdit/">
        <input type="submit" value="Editera" disabled>
        </form> </td>

      <td><form method="post" action="/UserRemove/">
      <input type="submit" value="Ta bort" disabled>
      </form> </td>
         {% else %}
             <td><form method="post" accept-charset="UTF-8" action="/UserEdit/{{ value['Personal number'] }}/{{ value['Full name'] }}/{{ value.Address }}/{{ value['Phone number'] }}/{{ value['Postal address'] }}">
        <input type="submit" value="Editera">
        </form> </td>
        
            <td><form method="post" action="/UserRemove/{{ value['Personal number'] }}/{{ value['Full name'] }}/{{ value.Address }}/{{ value['Phone number'] }}/{{ value['Postal address'] }}"
            disabled>
            <input type="submit" value="Ta bort"></form> </td>
      {% endif %}
{% endfor %}
        
  </tr>
  

  </table>
  <br>
        <form method="post" action="/UserAdd">
        <input type="submit" value="Lägg till kund">
      </form>
{% include '/Partials/bottom.html' %}